@import "./common/functions";
@import "./common/variables";
@import "./common/mixin";

@layer reset {
  @import "./common/normalize";
}

@layer common {
  @import "./common/base";
}

@layer reset common component section;

:root {
  --white: #fff;
  --gold: #feb32a;
  --grey: #1e1e1e;
  --grey-rgb: 30, 30, 30;
  --grey-white: #919191;
  --grey-white10: rgb(145 145 145 / 10%);
  --grey-bg: #1e1e1e;
  --error: #d3000c;
  --black: #000;
}
