@import "src/styles/common/variables";
@import "src/styles/common/functions";
@import "src/styles/common/mixin";

@layer component {
    .main-title {
        position: absolute;
        left: 0;
        top: 0;
        font-family: $open-sans;
        font-size: rem(200);
        font-style: normal;
        font-weight: 700;
        line-height: 1.335;
        color: var(--grey-white10);
        text-transform: uppercase;

        @include breakpoint-down(large-desktop) {
            font-size: rem(170);
        }

        @include breakpoint-down(small-desktop) {
            font-size: rem(120);
        }

        @include breakpoint-down(tablet) {
            font-size: rem(80);
        }

        @include breakpoint-down(mobile) {
            font-size: rem(60);
        }
    }
}