@import "src/styles/common/variables";
@import "src/styles/common/functions";
@import "src/styles/common/mixin";

@layer component {
  .sub-title {
    @include breakpoint-down(tablet) {
      font-size: rem(44);
    }

    @include breakpoint-down(mobile) {
      font-size: rem(24);
    }
    font-family: $open-sans;
    font-size: rem(60);
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: var(--white);
    text-transform: uppercase;
  }
}
