@font-face {
  font-family: OpenSans;
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/open-sans/OpenSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/open-sans/OpenSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/open-sans/OpenSans-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: OpenSans;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  src: url("/fonts/open-sans/OpenSans-Bold.woff2") format("woff2");
}
